@import url("/style/header.css");
@import url("/style/Perfil.css");
@import url("/style/posts.css");
@import url("/style/video.css");
@import url("/style/footer.css");

:root {
  --background: #edf7fa;
  --preto: #000000;
  --azul-escuro: #21243d;
  --cor-botao: #ff6464;
  --fonte-principal: "Heebo";
  --branco: #ffffff;
  --cinza-claro: #8695a4;
}

body {
  background-color: var(--background);
  font-family: var(--fonte-principal);
  font-size: 16px;
  font-weight: 400;
}
