.menu__botao {
    background-image: url("/img/menu.svg");
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    width: 30px;
    height: 24px;
}
.menu {
    display: flex;
    background-color: var(--branco);
    justify-content: flex-end;
    padding:1rem 1rem 3rem 1rem ;
}
.container__botao {
    display: none;
}

