.video__container {
  padding-top: 1rem;
  background-color: var(--branco);
}

.titulo__video {
  font-size: 18px;
  color: var(--azul-escuro);
  text-align: center;
}
.video__caixa {
  padding: 1rem;
  text-align: center;
}
video {
  border-radius: 24px;
  max-width: 100%;
  height: auto;
}
.subtitulo__video {
  font-weight: 700;
  font-size: 24px;
  color: var(--azul-escuro);
  padding-left: 1rem;
}
.tag__video {
  display: inline-flex;
  padding: 0.5rem 1rem 0.5rem 1rem;
}
.data__video {
  font-weight: 900;
  color: var(--branco);
  border-radius: 16px;
  background-color: var(--azul-escuro);
  text-align: center;
  padding-top: 5px;
  width: 50px;
  height: 20px;
}
.tipo__video {
  padding-left: 2rem;
  padding-top: 5px;
  color: var(--cinza-claro);
}
.descricao__video {
  color: var(--azul-escuro);
  line-height: normal;
  padding: 0.5rem 1rem;
}
.img__desktop-size {
  display: none;
}

@media screen and (min-width: 1728px) {
  .titulo__video {
    font-size: 22px;
    padding-left: 6vw;
    text-align: start;
    padding-top: 0.5rem;
  }
  .titulo__video-box {
    width: 62%;
    margin: auto;
  }
  .video__desktop-size {
    display: flex;
    padding: 1rem 5vw;
    align-items: flex-start;
    width: 70%;
  }
  .video__caixa {
    width: 100%;
  }
  .container__descricao-video {
    padding: 1rem;
  }
  .descricao__video {
    padding: 1rem;
  }
  .box__border {
    border-bottom: 1px solid var(--cinza-claro);
    display: flex;
  }
  .img__videos {
    width: 100%;
  }
  .img__desktop-size {
    display: flex;
    padding: 1rem 5vw;
    align-items: flex-start;
    width: 70%;
  }
  .subtitulo__video {
    font-size: 30px;
  }
  .data__video {
    font-size: 18px;
    width: 55px;
  }
  .tipo__video {
    font-size: 20px;
  }
}
